<!--<h1>Publications</h1>-->

<ul class="publications">
  <% for(var slug in public.publications._data){ %>
    <li class="publications">
      <% var publication = public.publications._data[slug] %>
        <p>
          <span class="publication-title"><%= publication.title %></span><br/>
          <span class="publication-authors"><%- publication.authors %></span><br/>
          <span class="publication-journal"><a href="<%= publication.link %>" target="_blank"><%= publication.journal%></a></span><br/>
          <span class="publication-citation"><%= publication.citation %></span>
          <% if(publication.doi){ %>
            <span class="publication-doi">DOI: <a href="http://dx.doi.org/<%= publication.doi %>" target="_blank"><%= publication.doi %></a>.</span>
          <% } %>
          <% if(publication.publication_date){ %>
            <span class="publication-date"><%= publication.publication_date%></span>
          <% } %>
          <br/>
          <% if(publication.full_text || publication.supplemental_materials){ %>
            <span class="publication-links">
              <% if(publication.full_text){ %><a href="../pdf/<%= publication.full_text %>.pdf" target="_blank">Full Text PDF.</a><% } %>
                &nbsp;
              <% if(publication.supplemental_materials){ %><a href="../pdf/<%= publication.supplemental_materials %>.pdf" target="_blank">Supplemental Materials.</a><% } %>
            </span>
          <% } %>
        </p>
      <!-- <img src="../img/publications/<%= slug %>.png" alt="<% publication.title %> showcase" /> -->
    </li>
  <% } %>
</ul>
