<h1>Contact</h1>

<% for(handle in authors) {
   var author = authors[handle] %>
  <ul class="contact">
    <% if(author.email) { %><li>Email me at <a href="mailto:<%= author.email %>"><%= author.email %></a></li><% } %>
    <% if(author.twitter) { %><li>Tweet <a href="http://twitter.com/<%= author.twitter %>" target="_blank">@<%= author.twitter %></a></li><% } %>
    <% if(author.codepen) { %><li>Fork on <a href="http://codepen.io/<%= author.codepen %>">CodePen</a></li><% } %>
    <% if(author.github) { %><li>See my open source code on <a href="http://github.com/<%= author.github %>" target="_blank">GitHub</a></li><% } %>
    <% if(author.linkedin) { %><li>See my professional profile on <a href="https://www.linkedin.com/in/<%= author.linkedin %>" target="_blank">LinkedIn</a></li><% } %>
  </ul>
<% } %>