<% function excerpt(content) {
  if(!content || content.indexOf("</p>") == -1) return;
  else return content.split("<p>")[1].split("</p>")[0];
} %>

<ul class="index">
  <% for(var slug in public.blog._data){ %>
    <% var post = public.blog._data[slug] %>
    <% if(post.title && post.published!==false) { %>
      <li class="index-item">
        <a class="index-link" href="<%= slug %>">
          <h2 class="index-title">
            <%= post.title %>
          </h2>
        </a>
        <time class="time time--inline"><%= post.date %></time>
        <p><%- excerpt(partial(slug)) %></p>
        <a class="index-more" href="<%= slug %>">•••</a>
      </li>
    <% } %>
  <% } %>
</ul>
